.weather-app {
    width: 300px;
  
    margin: 50px auto;
    padding: 20px;
    color: white;
    background:linear-gradient(135deg,#07debe,#00befe);
    border: 1px solid #4908df;
    border-radius: 10px;
    text-align: center;
}
.search-container {
    display: flex; /* Added to display input and button in the same line */
    align-items: center; /* Added for vertical alignment */
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    margin-right: 3px; /* Reduced margin for spacing */
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #100101;
}

.search-container button {
    padding: 1px; /* Added padding for button */
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    
}
.weather-icon{
    margin:auto;
}

.search-container img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#weather-description{
    font-size: 25px;
}
.weather-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}
.temperature{
    font-size: 40px;
}
.location{
    font-size: 50px;
    
}

 .wind-speed{
    margin-right: 400x;
 }
 .main {
    display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 80px;
     margin-top: 20px;
     
}





 .main img {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 10px; /* Add space between icon and text */
    width: 20px;
    height: 20;
    
}

 #wind-speed,#humidity {
   
    font-size: 20px; /* Adjusted font size */
}


.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    margin-bottom: 10px;
}

.temperature,
.wind-speed,
.weather-description {
    margin-bottom: 10px;
}
p{
    font-size: 15px;
}
.weather-info{
    display: none;
}





